[Unit]
Description=Feeds Carbon database with HomeClima data from MQTT

[Service]
ExecStart=/opt/carbonFeeder.py
ExecStop=/bin/kill -9 $MAINPID
KillMode=process
KillSignal=SIGKILL
Restart=always

[Install]
WantedBy=multi-user.target
